/* 
    General Styles used on every website (Don't Repeat Yourself)
*/

body {
  background-color: rgb(255, 255, 255);
}

img {
  border-radius: 20px;
}

.texthome {
  margin-top: 200px;
  padding-right: 100px;
}

.imagehome {
  height: 500px;
  width: 900px;
  margin-top: 100px;
}

.logodesign {
  height: 50px;
  width: 50px;
}
.logomain {
  height: 100px;
  width: 100px;
  margin-left: 100px;
  margin-top: 10px;
  margin-bottom: 10px;
  position: relative;
}

.maintext {
  justify-content: center;
}

.logonav {
  height: 50px;
  width: 50px;
  margin-right: 50px;
  margin-left: 20px;
}

.btn-default {
  background-color: black;
  border-color: black;
}

.empresas {
  margin-top: 100px;
}




#carouselExampleCaptions {
  margin-top: 100px;
}
#containerlogin {
  background-color: rgb(226, 224, 224);
}

#con3 {
  box-shadow: 10px 10px 10px 10px rgb(188, 187, 187);
}

#freelancerscon {
  margin-top: 100px;
}

#experienciabox {
  margin-top: 100px;
}

#empresasconfian {
  margin-top: 200px;
}

#perfilcontainer{

  margin-top: 300px;
  position: relative;
}